@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: auto;
	font-family: 'Inter', sans-serif;
}
.container{
	width: 1000px;
	box-sizing: border-box;
	min-width: 980px;

}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 30px 100px;
	z-index: 10000;
}
header.sticky{
	padding: 5px 100px;
	background: #333333;
	box-shadow: 0 0 10px #000;
}
header .logo{
	padding-top: 0.3%;
	position: relative;
	transition: 0.6s;

}
header ul{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position:relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 500px;
	transition:0.6s;
}
.banner{
	position: absolute;
	z-index: 3;
	width: 100%;
	background: url(img/image1.svg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

header.sticky ul li a{
	color: #fff;
}
header.sticky .logo{
	border-radius: 15px;
}
.frame1{
	padding-left: 10%;
	width: 880px;
	height: 300px;
	margin-top: 30%	;
}
.frame1 h1{
	padding-top: 10%;
	font-weight: 600;
	font-size: 64px;
	color: #fff;
}
.frame1 p{
	padding-top: 20px;
	color: #fff;
	font-size: 28px;
	width: 630px;
}
.banner2{
	position: absolute;
	z-index: 2;
	margin-top:45%;
	background-color: #313131;
	background-size: cover;
	width: 100%;
	height: 1600px;

}
.frame2{
	padding-top: 80px;
	align-content: center;
	text-align: center;
}
.zaglav{
	margin-left: 5px;
	margin-top: 100px;
	display: inline-block;
	background-color: #EEBF00;
	width: 475px;
	border-radius: 45px;

}
.frame2 .text h2{
	font-size: 72px ;
	font-weight: 800;
	color: #fff;
}
.text1{
	padding-top: 70px;
	color: #B8B8B8;
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 50px;
}
.text p{
	display: inline-block;
	padding-top:0;
	color: #B8B8B8;
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 50px;
}
.block1{
	margin:2%;
	border-radius: 25px;
	width: 430px;
	height: 380px;
	background-color: #F1F1F1;
	display: inline-block;
	box-shadow: 5px 10px 10px 8px #000;
}
.block1 p{
	color: #000;
	padding-top: 10%;
	font-size: 28px ;
	font-weight: 200;
}
.block1 a img{
	width: 100%;
	padding-top: 55px;
}
.block2{
	margin: 2%;
	border-radius: 25px;
	width: 430px;
	height: 380px;
	background-color: #F1F1F1;
	display: inline-block;
	box-shadow: 5px 10px 10px 8px #000;
}
.block2 p{
	color: #000;
	padding-top: 10%;
	font-size: 28px ;
	font-weight: 200;
}
.block2 a img{
	width: 100%;
	padding-top: 55px;
}
.block3{
	margin: 2%;
	border-radius: 25px;
	width: 430px;
	height: 380px;
	background-color: #F1F1F1;
	display: inline-block;
	box-shadow: 5px 10px 10px 8px #000;
}
.block3 p{
	color: #000;
	padding-top: 10%;
	font-size: 28px ;
	font-weight: 200;
}
.block3 a img{
	width: 100%;
	padding-top: 55px;
}
.block4{
	margin: 2%;
	border-radius: 25px;
	width: 430px;
	height: 380px;
	background-color: #F1F1F1;
	display: inline-block;
	box-shadow: 5px 10px 10px 8px #000;
}
.block4 p{
	color: #000;
	padding-top: 10%;
	font-size: 28px ;
	font-weight: 200;
}
.block4 a img{
	width: 100%;
	padding-top: 55px;
}
.block5{
	margin: 2%;
	border-radius: 25px;
	width: 430px;
	height: 380px;
	background-color: #F1F1F1;
	display: inline-block;
	box-shadow: 5px 10px 10px 8px #000;
}
.block5 p{
	color: #000;
	padding-top: 10%;
	font-size: 28px ;
	font-weight: 200;
}
.block5 a img{
	width: 100%;
	padding-top: 55px;
}
.backside{
	margin-top: 2200px;
	background: url(img/image6.svg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
	background-attachment: fixed;
}
.banner3{
	margin-top: 2900px;
	position: absolute;
	z-index: 2;
	background-image: url(img/Component3.svg);
	background-color: #313131;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

.text2 h3{
	padding-left: 10%;
	padding-top: 140px;
	color: #fff;
	font-size: 48px;
	font-weight: 600;
}
.text2 p{
	padding-left: 2%;
	padding-top: 45px;
	color: #EEBF00;
	font-weight: 800;
	font-size: 5.5vw;
}
.comment{
	margin-top: 90px;
	margin-left: 4%;
	display: inline-block;
	width: 680px;
	height: 5%;
	font-size: 2vw;
	font-weight: 400;
	color: #fff;
	padding-left: 2%;
	border-left: 4px solid #EEBF00;
}
.wrapper{
	box-sizing: border-box;
}
.cont img{
	float: right;
	margin-left: 0;
	display: inline-block;
}
.comments{
	padding-top: 3%;
	width: 100%;
	padding-left: 5%;
	display: inline-block;
	background-color: #313131;
	display: inline-block;
	margin-top: 200px;
}
.com2{
	display: inline-block;
	margin-left: 0;
}
.com2 p{
	display: inline-block;
	width: 400px;
	height: 190px;
	font-size: 32px;
}
.com3{
	margin-left: 15%;
	display: inline-block;
}
.com3 p{
	color: #fff;
	display: inline-block;
	font-size: 32px;
	width: 250px;
	height: 190px;
}
.com2 img,p{
	display: inline-block;
}
.com3 img,p{
	color: #fff;
	display: inline-block;
}
.backside2{
	margin-top: 3900px;
	background: url(img/image5.svg);
	width: 100%;
	height: 1080px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
	background-attachment: fixed;
}
.frame4{
	margin-top: 4500px;
	position: absolute;
	z-index: 2;
	background-color: #313131;
	width: 100%;
	height: 1730px;
	background-repeat: no-repeat;
	position: absolute;
}
.main{
	margin-left: 10%;
	margin-top: 100px;
	background-image: url(img/Component6.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 80%;
	height: 80%;
}
.frame5{
	display: inline-flex;
	margin-top: 6300px;
	position: absolute;
	z-index: 2;
	background-color: #fff;
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	position: absolute;
}
.text6 p{
	margin-top: 20px;
	color: #000;
	font-size: 38px;
	font-weight: 200;
}
.text6 h4{
	width: 300px;
	border-bottom: 3px solid #EEBF00;
	margin-top: 120px;
	font-weight: 600;
	font-size: 60px;
}
.text6{
	margin-right: 5%;
	margin-left: 8%;
	height: 50%;
	width: 40%;
	display: inline-block;
}
form{
	margin-left: 5%;
	margin-right: 0;
	margin-top: 100px;
	display: inline-block;
	padding-top: 3%;
	padding-left: 2%;
	box-shadow: 2px 2px 10px 2px #313131;
	height: 50%;
	width: 32%;
	display: inline-block;
}
form p{
	display: inline-block;
	color: #000;
	font-size: 16px;
}
input{
	display: inline-block;
	height: 12%;
	width: 44%;
	box-shadow: none;
	outline: none;
	border: 0;
	border-bottom: 2px solid #EEBF00;
	font-size: 16px;
}
.name{
 margin-left: 10px;
 margin-right: 15px;
}
.mail{
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 60px;
	width: 91%;
	height: 12%;
}
.name2{
	margin-left: 25px;
}
textarea{
	margin-left: 10px;
	font-size: 16px;
	width: 91% ;
	height: 27%;
	border: 0;
	border: 2px solid #EEBF00;
	resize: none;
	padding: 3px;
}
button{
	margin-left: 10px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
	width: 220px;
	height: 45px;
	color: #000;
	background-color: #EEBF00;
	border-radius: 25px;
}